{% extends "_layouts/default.njk" %}

{% block content %}
    {% include "_partials/components/hero.njk" %}

    <main class="container mx-auto px-16 my-32 md:my-56 lg:my-80" id="main">
        {{content | safe}}
    </main>
{% endblock %}
