---
post: true
title: {{meta_title}}
eleventyComputed:
    description: "{{meta_description}}"
---

{% extends "_layouts/default.njk" %}

{% set heroImage = banner_image %}
{% set heroTitle = title %}

{% block content %}
    {% include "_partials/components/hero.njk" %}

    <main class="container mx-auto px-16 my-32 md:my-56 lg:my-80" id="main">
        <article class="rte max-w-45 mx-auto">
            <time class="text-sb leading-sb fvs-sb text-foreground block mb-24 md:mb-32" datetime="{{publish_date}}">{{publish_date | readableDate }}</time>

            {{ content | safe }}
        </article>
    </main>
{% endblock %}
