{% extends "_layouts/default.njk" %}

{% set heroTitle = 'Personalised Travel Themed Products' %}
{% set heroImage = 'https://cdn.shopify.com/s/files/1/1931/6299/collections/stil-TVllFyGaLEA-unsplash.jpg' %}
{% set heroImageAlt = 'Personalised travel maps' %}

{% block content %}
    {% include "_partials/components/hero.njk" %}

    <main id="main">
        <div class="container mx-auto my-32 md:my-56 lg:my-80">
            <p class="px-16 text-sm leading-sm fvs-rg text-center ">View our range of personalised travel themed products, beautifully hand-drawn and made using high quality materials to last a lifetime and help you record your own special adventures.</p>
        </div>

        {{content | safe}}
    </main>
{% endblock %}
