{% extends "_layouts/default.njk" %}

{% block content %}
    <main class="container mx-auto pt-24 px-16 md:flow-root md:pt-40" aria-describedby="product-title" data-component="product-details" data-product-id="{{product.id}}" data-product-color="{{product.color}}" id="main">
        <div class="mb-32 text-center md:mb-0 md:float-left md:w-7/12 md:pr-48">
            {% set mainImage = product.mainImage.split(r/.(jpg|png)/g)[0] %}

             <picture class="ratio-1-1 relative block bg-grey-fade pointer-events-none" data-component="product-picture">
                <source media="(max-width: 37.4375em)" type="image/webp" data-srcset="{{ mainImage }}_350x350.jpg.webp 1x, {{ mainImage }}_450x450.jpg.webp 2x">
                <source media="(max-width: 37.4375em)" data-srcset="{{ mainImage }}_300x300.jpg 1x, {{ mainImage }}_450x450.jpg 2x">
                <source type="image/webp" data-srcset="{{ mainImage }}_600x600.jpg.webp 1x, {{ mainImage }}_800x800.jpg.webp 2x">
                <img data-srcset="{{ mainImage }}_600x600.jpg 1x, {{ mainImage }}_800x800.jpg 2x" alt="{{product.mainImageAlt}}" class="lazyload absolute w-full h-full top-0 left-0 object-cover" loading="lazy" width="250" height="250" data-product-image>

                <noscript>
                    <source media="(max-width: 37.4375em)" type="image/webp" srcset="{{ mainImage }}_350x350.jpg.webp 1x, {{ mainImage }}_450x450.jpg.webp 2x">
                    <source media="(max-width: 37.4375em)" srcset="{{ mainImage }}_300x300.jpg 1x, {{ mainImage }}_450x450.jpg 2x">
                    <source type="image/webp" srcset="{{ mainImage }}_600x600.jpg.webp 1x, {{ mainImage }}_800x800.jpg.webp 2x">
                    <img srcset="{{ mainImage }}_600x600.jpg 1x, {{ mainImage }}_800x800.jpg 2x" alt="{{product.mainImageAlt}}" class="absolute w-full h-full top-0 left-0 object-cover" loading="lazy" width="300" height="300">
                </noscript>
            </picture>

            <button type="button" class="relative bg-secondary text-foreground text-xs leading-xs fvs-md py-16 px-24 rounded-b-5 tracking-1 flex justify-center items-center w-full uppercase outline-transparent focus:outline-primary hov:hover:bg-hover-secondary" data-image-zoom>
                Open image zoom
                <svg class="ml-8" width="24" height="24" aria-hidden="true">
                    <use xlink:href="/icons/sprite.svg#zoom"></use>
                </svg>
            </button>

            {% include "_partials/components/product-thumbnails.njk" %}

            {% if product.thumbnails | length > 4 %}
                <div class="inline-flex justify-between items-center mt-16 md:hidden" aria-hidden="true">
                    <svg class="mr-8" width="19" height="25" fill="var(--color-tertiary)">
                        <use xlink:href="/icons/sprite.svg#touch"></use>
                    </svg>

                    <span class="inline-flex justify-between items-baseline text-primary">
                        Swipe for more

                        <svg class="ml-8" width="18" height="12" fill="currentColor">
                            <use xlink:href="/icons/sprite.svg#arrow"></use>
                        </svg>
                    </span>
                </div>
            {% endif %}
        </div>

        <div class="md:float-right md:w-5/12">
            <h1 class="mb-16 text-lg leading-lg fvs-rg tracking-3 uppercase mt-0 text-grey-neutral" id="product-title">{{product.title}}</h1>
            <span class="text-md leading-md fvs-rg text-grey" aria-live="polite" data-product-price>{{product.minPrice}}</span>

            {% if product.description %}
            <div class="mt-24 mb-32 md:hidden" data-component="more-toggle">
                <h2 class="text-md leading-md fvs-md mt-0 mb-16 uppercase text-grey-neutral">Product Information</h2>

                <div class="rte relative overflow-hidden after:absolute after:bottom-0 after:left-0 after:w-full after:h-150 after:bg-gradient-to-t from-background" data-toggle>
                    {{ product.description | safe }}
                </div>

                <button class="text-sm leading-sm fvs-md text-tertiary flex justify-between items-center mt-16 uppercase md:hidden" aria-hidden="true" data-toggle-more>
                    Show more
                    <svg class="rotate-90" width="28" height="28" pointer-events="none" fill="currentColor">
                        <use xlink:href="/icons/sprite.svg#chevron" pointer-events="none"></use>
                    </svg>
                </button>
            </div>
            {% endif %}

            {% for tag in product.tags %}
                {% if tag === 'Map Only' %}
                    {% include "_partials/forms/personalised-form.njk" %}
                {% endif %}

                {% if tag === 'Wedding Table Plan' %}
                    {% include "_partials/forms/wedding-table-form.njk" %}
                {% endif %}

                {% if tag === 'Wedding Welcome' %}
                    {% include "_partials/forms/wedding-welcome-form.njk" %}
                {% endif %}

                {% if tag === 'Pins' %}
                    {% include "_partials/forms/pins-form.njk" %}
                {% endif %}

                {% if tag === 'Frame only' %}
                    {% include "_partials/forms/frame-only-form.njk" %}
                {% endif %}

                {% if tag === 'Gift cards' %}
                    {% include "_partials/forms/gift-card-form.njk" %}
                {% endif %}
            {% endfor %}

            {% if not product.tags | length %}
                {% include "_partials/forms/frame-only-form.njk" %}
            {% endif %}
        </div>

        {% if product.description %}
        <div class="hidden md:block md:mt-40 md:float-left md:w-7/12 md:pr-48">
            <h2 class="text-md leading-md fvs-md mt-0 mb-16 uppercase text-grey-neutral">Product Information</h2>

            <div class="rte">
                {{ product.description | safe }}
            </div>
        </div>
        {% endif %}

        {% include "_partials/components/image-zoom.njk" %}
        {% include "_partials/components/modal.njk" %}
    </main>

    {% include "_partials/components/key-map-gallery.njk" %}
    {% include "_partials/components/related-products.njk" %}

    {{content | safe}}
{% endblock %}
