<section class="relative my-32 md:my-56 lg:my-80 lg:overflow-hidden" aria-labelledby="expression-heading">
    {% picture
        'https://cdn.shopify.com/s/files/1/1931/6299/files/IMG_0012.jpg',
        '400, 550, 1000, 1200, 1500, 2048',
        '(max-width: 37.4375em) 550px, (min-width: 38em) and (max-width: 47.9375em) 1200px, 2048px',
        null,
        null,
        'relative block bg-grey-fade ratio-3-2 sm:ratio-2-1',
        'expression__image absolute w-full h-full top-0 left-0 object-cover'
    %}

    <div class="container mx-auto bg-grey-border px-16 lg:absolute lg:top-0 lg:left-1/2 lg:w-full lg:h-full lg:flex lg:flex-col lg:justify-center lg:bg-transparent lg:-translate-x-1/2">
        <div class="-top-24 p-24 bg-background relative text-center lg:top-0 lg:max-w-22 lg:p-32">
            <h2 class="mt-0 mb-16 text-foreground text-lg leading-lg fvs-sb" id="expression-heading">Our Travel Maps</h2>

            <p class="text-xs leading-xs fvs-rg mt-0 mb-16 text-foreground">At Luna Creates we pride ourselves in offering high quality personalised world pinboard maps. We offer a great choice of travel maps with pins, available in different sizes and colours.</p>

            <p class="s-xs leading-xs fvs-rg mt-0 text-foreground">Personalise your world map pinboard with a unique key and select your pin colours to bring your adventures to life. This extremely engaging and unique personalised design makes the ideal gift for any occasion.</p>
        </div>
    </div>
</section>
