<section class="container mx-auto my-32 px-16 text-center sm:grid sm:grid-cols-2 sm:gap-x-24 md:my-56 lg:my-80 md:text-left" aria-labelledby="feature-block-heading">
    {% picture
        'https://cdn.shopify.com/s/files/1/1931/6299/files/Map-Wedding-Table-plan-Pink-and-Grey.jpg',
        '400, 500, 600, 800',
        '(max-width: 37.4375em) 800px, 600px',
        null,
        'Wedding Table Plan',
        'relative block bg-grey-fade mb-24 ratio-1-1 md:mb-0',
        'absolute w-full h-full top-0 left-0 object-cover'
    %}

    <div class="md:flex md:flex-col justify-center md:pl-5vw">
        <h2 class="feature-block__title mt-0 mb-24 text-md leading-md fvs-md uppercase tracking-3 text-grey-neutral" id="feature-block-heading">Personalised world map table plan</h2>
        <p class="feature-block__body mt-0 mb-24 text-grey text-sm leading-sm fvs-rg">Want a memorable table plan for your wedding? Create your own personalised world map table plan.</p>
        <a href="/products/travel-themed-wedding-table-plan/" class="bg-secondary text-foreground text-xs leading-xs fvs-md py-16 px-24 rounded-5 uppercase tracking-1 inline-block self-center outline-transparent focus:outline-primary hov:hover:bg-hover-secondary md:px-32 md:self-start">Shop Now</a>
    </div>
</section>
