<footer class="py-32 bg-grey-fade md:py-48 penv-bottom" id="footer">
    <div class="container mx-auto px-16 md:grid md:grid-cols-4 md:gap-24">
        <div class="mb-40 md:mb-0">
            <h3 class="text-grey mb-24 text-sm leading-sm fvs-sb mt-0 uppercase tracking-2">Shop</h3>

            <ul>
                <li class="mb-16">
                    <a href="/collections/maps/" class="text-base leading-xxs fvs-rg text-grey inline bg-gradient-to-l from-grey to-grey bg-link bg-no-repeat transition-background-size duration-300 ease-linear hov:hover:bg-link-full">Personalised World Map Pinboards</a>
                </li>
                <li class="mb-16">
                    <a href="/collections/wedding/" class="text-base leading-xxs fvs-rg text-grey inline bg-gradient-to-l from-grey to-grey bg-link bg-no-repeat transition-background-size duration-300 ease-linear hov:hover:bg-link-full">Wedding Travel Theme Products</a>
                </li>
                <li class="mb-16">
                    <a href="/products/" class="text-base leading-xxs fvs-rg text-grey inline bg-gradient-to-l from-grey to-grey bg-link bg-no-repeat transition-background-size duration-300 ease-linear hov:hover:bg-link-full">All Products</a>
                </li>
            </ul>
        </div>

        <div class="mb-40 md:mb-0">
            <h3 class="text-grey mb-24 text-sm leading-sm fvs-sb mt-0 uppercase tracking-2">Customer Service</h3>

            <ul>
                <li class="mb-16">
                    <a href="/delivery/" class="text-base leading-xxs fvs-rg text-grey inline bg-gradient-to-l from-grey to-grey bg-link bg-no-repeat transition-background-size duration-300 ease-linear hov:hover:bg-link-full">Delivery Information</a>
                </li>
                <li class="mb-16">
                    <a href="/faqs/" class="text-base leading-xxs fvs-rg text-grey inline bg-gradient-to-l from-grey to-grey bg-link bg-no-repeat transition-background-size duration-300 ease-linear hov:hover:bg-link-full">FAQ</a>
                </li>
                <li class="mb-16">
                    <a href="/returns/" class="text-base leading-xxs fvs-rg text-grey inline bg-gradient-to-l from-grey to-grey bg-link bg-no-repeat transition-background-size duration-300 ease-linear hov:hover:bg-link-full">Returns &amp; Refunds</a>
                </li>
                <li class="mb-16">
                    <a href="/privacy-policy/" class="text-base leading-xxs fvs-rg text-grey inline bg-gradient-to-l from-grey to-grey bg-link bg-no-repeat transition-background-size duration-300 ease-linear hov:hover:bg-link-full">Privacy &amp; Legals</a>
                </li>
            </ul>
        </div>

        <div class="mb-40 md:mb-0">
            <h3 class="text-grey mb-24 text-sm leading-sm fvs-sb mt-0 uppercase tracking-2">Contact Us</h3>

            <ul>
                <li class="mb-8">
                    <a href="mailto:{{settings.email}}" class="text-base leading-xxs fvs-rg text-grey inline bg-gradient-to-l from-grey to-grey bg-link bg-no-repeat transition-background-size duration-300 ease-linear hov:hover:bg-link-full">{{settings.email}}</a>
                </li>

            {% for item in settings.social %}
                <li class="inline-block mr-8 -ml-8 mb-0">
                    <a class="block" href="{{item.url}}" title="{{item.titleAttr}}" rel="external" aria-label="{{item.title}}">
                        <svg class="p-8" width="40" height="40" aria-hidden="true">
                            <use xlink:href="/icons/sprite.svg#{{item.slug}}"></use>
                        </svg>
                    </a>
                </li>
            {% endfor %}
            </ul>

            {% include "_partials/components/payment-icons.njk" %}
        </div>

        <form action="/newsletter" class="mb-40 md:mb-0" accept-charset="UTF-8" method="post" id="newsletter" data-component="newsletter">
            <legend class="text-sm leading-sm fvs-sb mt-0 mb-24 uppercase tracking-2 text-grey">Let's Be Friends</legend>

            <label class="text-base leading-xxs fvs-rg block mb-16 text-grey " for="footer-newsletter">Be the first to know about all our latest offers</label>
            <input type="email" placeholder="Email address" name="email" class="w-full my-0 text-base leading-base fvs-rg py-8 px-16 border-1 border-solid border-grey-border rounded-4" id="footer-newsletter" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
            <button type="submit" class="bg-secondary text-foreground text-xs leading-xs fvs-md rounded-5 py-16 px-24 uppercase tracking-1 mt-24 outline-transparent focus:outline-primary hov:hover:bg-hover-secondary md:px-32">Sign Up</button>

            <span class="bg-error text-background text-sm leading-sm fvs-md py-8 px-16 mt-24 hidden" data-form-error>Oops. There was an error. Please try again.</span>
            <span class="bg-success text-primary text-sm leading-sm fvs-md py-8 px-16 mt-24 hidden" data-form-success>Thanks for subscribing.</span>
        </form>

        <div class="relative flex flex-col justify-center items-center before:absolute before:top-1/2 before:left-0 before:w-full before:h-1 before:bg-grey md:col-span-full md:flex-row md:justify-between">
            <svg class="relative bg-grey-fade px-16 md:pr-o md:order-2" width="173" height="64" aria-labelledby="footer-logo">
                <title id="footer-logo">Luna Creates</title>
                <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/logo.svg" x="0" y="0" width="100%" height="100%" alt="Luna Creates logo"></image>
            </svg>
            <small class="text-xs leading-xs fvs-rg relative bg-grey-fade md:pr-16 md:order-1">&copy; 2021, {{settings.name}}</small>
        </div>
    </div>
</footer>
</html>
