{% set title = heroTitle or renderData.heroTitle %}
{% set image = heroImage or renderData.heroImage %}
{% set alt = heroImageAlt %}

<section class="relative" aria-labelledby="hero-title">
    {% picture
        image,
        '300, 600, 800, 1600',
        '(min-width: 38em) and (max-width: 47.9375em) 800px, 100vw',
        null,
        alt,
        'ratio-3-2 relative block bg-grey-fade md:ratio-4-1',
        'absolute w-full h-full top-0 left-0 object-cover object-center'
    %}

    <div class="container absolute top-1/2 left-1/2 mx-auto px-16 text-center -translate-x-1/2 -translate-y-1/2 z-20">
        {% if home %}
            <p class="mx-auto mb-0 text-background text-lg leading-xl fvs-rg text-center uppercase" id="hero-title">
                <span class="bg-foreground py-4 px-8" style="-webkit-box-decoration-break: clone; box-decoration-break: clone;">{{title | safe}}</span>
            </p>
        {% else %}
            <h1 class="mx-auto my-0 text-background text-lg leading-xl fvs-rg text-center uppercase" id="hero-title">
                <span class="bg-foreground py-4 px-8" style="-webkit-box-decoration-break: clone; box-decoration-break: clone;">{{title | safe}}</span>
            </h1>
        {% endif %}
    </div>
</section>

{% if home %}
    <p class="container mx-auto my-32 px-16 text-grey text-sm leading-sm fvs-rg text-center md:my-56 lg:my-80">Personalised world map pinboards help you to track your travel adventures, whether you’re finding new places to explore or reflecting on past journeys. Taking inspiration from your personalised world map pinboard to follow your dreams around the globe is as simple as a push of a pin. You can be the designer of your own personalised world map, creating an unforgettable unique piece of art that will immediately update your wall, seamlessly fit into any interior decor scheme to help you remember your most adventurous memories and will last a lifetime.</p>
{% endif %}
