<section class="container mx-auto text-center my-32 px-16 md:my-56 lg:my-80" aria-labelledby="key-map-gallery">
    <hr class="mt-0 mb-32 md:mb-48">

    <h2 class="mb-48 text-md leading-md fvs-rg tracking-3 uppercase text-grey-neutral text-center" id="key-map-gallery">Map Key Inspiration</h2>

    <ul class="flex-nowrap flex overflow-x-auto scroll-snap-x" data-component="key-map-gallery">
        <li class="relative min-w-18 mx-16 p-16 bg-foreground border-2 border-foreground scroll-snap-start md:min-w-24">
            {% picture
                'https://lunacreates.co.uk/images/key-maps/travel-black.jpg',
                '150, 250, 400',
                '(max-width: 37.4375em) 250px, 400px',
                null,
                null,
                'relative block ratio-3-1 overflow-hidden',
                'absolute w-full h-full top-0 left-0 object-contain',
                'key-maps'
            %}
        </li>

        <li class="relative min-w-18 mx-16 p-16 bg-background border-2 border-foreground scroll-snap-start md:min-w-24">
            {% picture
                'https://lunacreates.co.uk/images/key-maps/stansfield-white.jpg',
                '150, 250, 400',
                '(max-width: 37.4375em) 250px, 400px',
                null,
                null,
                'relative block ratio-3-1 overflow-hidden',
                'absolute w-full h-full top-0 left-0 object-contain',
                'key-maps'
            %}
        </li>

        <li class="relative min-w-18 mx-16 p-16 bg-grey-neutral border-2 border-grey-neutral scroll-snap-start md:min-w-24">
            {% picture
                'https://lunacreates.co.uk/images/key-maps/sophie-fraser-grey.jpg',
                '150, 250, 400',
                '(max-width: 37.4375em) 250px, 400px',
                null,
                null,
                'relative block ratio-3-1 overflow-hidden',
                'absolute w-full h-full top-0 left-0 object-contain',
                'key-maps'
            %}
        </li>

        <li class="relative min-w-18 mx-16 p-16 bg-foreground border-2 border-foreground scroll-snap-start md:min-w-24">
            {% picture
                'https://lunacreates.co.uk/images/key-maps/andy-katherine-black.jpg',
                '150, 250, 400',
                '(max-width: 37.4375em) 250px, 400px',
                null,
                null,
                'relative block ratio-3-1 overflow-hidden',
                'absolute w-full h-full top-0 left-0 object-contain',
                'key-maps'
            %}
        </li>

        <li class="relative min-w-18 mx-16 p-16 bg-grey-neutral border-2 border-grey-neutral scroll-snap-start md:min-w-24">
            {% picture
                'https://lunacreates.co.uk/images/key-maps/stu-emma-grey.jpg',
                '150, 250, 400',
                '(max-width: 37.4375em) 250px, 400px',
                null,
                null,
                'relative block ratio-3-1 overflow-hidden',
                'absolute w-full h-full top-0 left-0 object-contain',
                'key-maps'
            %}
        </li>

        <li class="relative min-w-18 mx-16 p-16 bg-background border-2 border-foreground scroll-snap-start md:min-w-24">
            {% picture
                'https://lunacreates.co.uk/images/key-maps/thomas-white.jpg',
                '150, 250, 400',
                '(max-width: 37.4375em) 250px, 400px',
                null,
                null,
                'relative block ratio-3-1 overflow-hidden',
                'absolute w-full h-full top-0 left-0 object-contain',
                'key-maps'
            %}
        </li>

        <li class="relative min-w-18 mx-16 p-16 bg-foreground border-2 border-foreground scroll-snap-start md:min-w-24">
            {% picture
                'https://lunacreates.co.uk/images/key-maps/wide-world-black.jpg',
                '150, 250, 400',
                '(max-width: 37.4375em) 250px, 400px',
                null,
                null,
                'relative block ratio-3-1 overflow-hidden',
                'absolute w-full h-full top-0 left-0 object-contain',
                'key-maps'
            %}
        </li>

        <li class="relative min-w-18 mx-16 p-16 bg-grey-neutral border-2 border-grey-neutral scroll-snap-start md:min-w-24">
            {% picture
                'https://lunacreates.co.uk/images/key-maps/terrys-grey.jpg',
                '150, 250, 400',
                '(max-width: 37.4375em) 250px, 400px',
                null,
                null,
                'relative block ratio-3-1 overflow-hidden',
                'absolute w-full h-full top-0 left-0 object-contain',
                'key-maps'
            %}
        </li>

        <li class="relative min-w-18 mx-16 p-16 bg-background border-2 border-foreground scroll-snap-start md:min-w-24">
            {% picture
                'https://lunacreates.co.uk/images/key-maps/woodcock-white.jpg',
                '150, 250, 400',
                '(max-width: 37.4375em) 250px, 400px',
                null,
                null,
                'relative block ratio-3-1 overflow-hidden',
                'absolute w-full h-full top-0 left-0 object-contain',
                'key-maps'
            %}
        </li>

        <li class="relative min-w-18 mx-16 p-16 bg-grey-neutral border-2 border-grey-neutral scroll-snap-start md:min-w-24">
            {% picture
                'https://lunacreates.co.uk/images/key-maps/wardle-grey.jpg',
                '150, 250, 400',
                '(max-width: 37.4375em) 250px, 400px',
                null,
                null,
                'relative block ratio-3-1 overflow-hidden',
                'absolute w-full h-full top-0 left-0 object-contain',
                'key-maps'
            %}
        </li>
    </ul>

    <div class="inline-flex justify-between items-center mt-32" aria-hidden="true">
        <svg class="mr-8" width="19" height="25" fill="var(--color-tertiary)">
            <use xlink:href="/icons/sprite.svg#touch"></use>
        </svg>

        <span class="inline-flex justify-between items-baseline text-primary">
            Swipe/scroll for more

            <svg class="ml-8" width="18" height="12" fill="currentColor">
                <use xlink:href="/icons/sprite.svg#arrow"></use>
            </svg>
        </span>
    </div>
</section>
