<div class="relative flex justify-between items-end mb-32">
{%- for option in product.options -%}
    {% set sizeField = option.size or option.options %}

    {% if sizeField and 'No Frame' in sizeField %}
        {% set size = sizeField.split(' (')[0] %}
        {% set dims = option.dimensions %}
        {% set width = dims | replace(r/[0-9]+ x/, "") | replace("mm", "") %}
        {% set height = dims | replace(r/x [0-9]+mm/, "") %}
        {% set hypo = (height ** 2 + width ** 2) ** 0.5 // 25.4 %}

        <label for="{{ size }}" class="flex flex-col items-center text-center relative">
            <input type="radio" name="size" id="{{ size | lower }}" class="peer absolute inset-0 w-full h-full bg-transparent border-transparent rounded-0 m-0 z-10 cursor-pointer appearance-none" {% if loop.first %}checked{% endif %} data-map="size" value="{{ size | lower }}">

            <div style="width: {{width // 10 / 16 }}rem" class="ratio-3-2 border-1 border-solid border-primary rounded-2 flex justify-center items-center mt-auto mb-8 mx-auto relative peer-checked:bg-secondary">
                <svg width="16px" height="16px" class="absolute bottom-0 left-0 rotate-135" aria-hidden="true">
                    <use xlink:href="/icons/sprite.svg#chevron"></use>
                </svg>
                <small class="text-xxs leading-xxs absolute top-1/2 -translate-y-1/2">{{hypo}}"</small>
                <svg width="16px" height="16px" class="absolute top-0 right-0 -rotate-45" aria-hidden="true">
                    <use xlink:href="/icons/sprite.svg#chevron"></use>
                </svg>
            </div>

            <span class="block text-xs fvs-sb leading-xs text-primary">{{ size }}</span>
            <small class="block text-xxs leading-xxs mb-8">{{ dims }}</small>
            <span class="block text-xs fvs-rg leading-xs pt-8 border-t-1 border-solid border-grey-border self-center">&pound;{{ option.price // 1 }}</span>
            <small class="block opacity-0 v-h text-xxs fvs-md leading-xxs bg-secondary mt-8 px-8 text-primary peer-checked:opacity-100 peer-checked:visible">Selected</small>
        </label>
    {% endif %}
{%- endfor -%}
</div>
