<div class="fixed inset-0 flex-col justify-end items-center z-120 before:absolute before:inset-0 before:bg-foreground before:opacity-70 md:justify-center" role="dialog" aria-labelledby="dialog-title" aria-describedby="dialog-description" data-modal="key-map" hidden>
    <div class="relative w-11/12 mb-48 p-24 bg-background border-1 border-solid border-grey max-w-45 md:w-auto md:mb-0 md:p-32">
        <h2 class="text-md leading-md fvs-md text-tertiary mt-0 mb-16 mr-32 uppercase tracking-3" id="dialog-title">Your key preview</h2>
        <p class="text-xs leading-xs fvs-rg text-grey mb-24" id="dialog-description">Please check your preview as your submission is final and will be printed as shown.</p>

        <div class="relative ratio-4-1 mb-24 border-1 border-solid border-tertiary" data-key-map aria-hidden="true">
            <p class="absolute top-1/2 left-0 w-full max-w-18 px-8 text-base leading-base text-tertiary text-center transform -translate-y-1/2 md:left-1/2 md:px-24 md:-translate-x-1/2 md:-translate-y-1/2">Please wait a moment while your key loads…</p>
        </div>

        {% set variant = product.options[0] %}

        <a href="/cart/" class="bg-secondary text-foreground text-xs leading-xs fvs-md py-16 px-24 rounded-5 uppercase tracking-1 inline-block outline-transparent focus:outline-primary hov:hover:bg-hover-secondary md:px-32" data-variant-id="{{variant.id}}" data-variant-options='{"key":"{{variant.name}}","value":"{{variant.value}}"}' data-add-to-basket>Add map to basket</a>

        <button class="absolute top-16 right-12 md:top-24 md:right-24" aria-label="Close dialog" data-close-modal="data-close-modal">
            <svg height="40" width="40" aria-hidden="true" class="p-8 pointer-events-none md:p-4">
                <use xlink:href="/icons/sprite.svg#close"></use>
            </svg>
        </button>
    </div>
</div>
