{% if notificationBanner.show_banner %}
    <section class="relative py-24 px-16 bg-primary z-40 h-full lg:py-8">
        <div class="container mx-auto px-16 penv-top">
            <p class="text-sm fvs-md leading-sm text-background text-center">{{ notificationBanner.content }}</p>
        </div>
    </section>
{% endif %}
