<section class="relative my-32 py-32 bg-grey-fade text-center md:my-56 md:py-48 lg:my-80" aria-labelledby="quotes-title">
    <h2 class="sr-only text-grey-neutral" id="quotes-title">Recent reviews</h2>

    <ul class="container flex flex-nowrap overflow-x-auto mx-auto scroll-snap-x md:grid md:grid-cols-3 md:gap-32 md:px-16">
        <li class="min-w-full scroll-snap-center px-16 md:px-0">
            <blockquote>
                <svg class="mx-auto md:min-w-1.5 md:h-auto" width="20" height="19" aria-hidden="true">
                    <use xlink:href="/icons/sprite.svg#quote"></use>
                </svg>
                <p class="my-16 text-sm leading-sm fvs-rg text-grey">Just want to say thank you for the incredible customer service provided, will certainly recommend you to friends!</p>
                <cite class="text-xs leading-xs fvs-md not-italic">Kate</cite>
            </blockquote>
        </li>

        <li class="min-w-full scroll-snap-center px-16 md:px-0">
            <blockquote>
                <svg class="mx-auto md:min-w-1.5 md:h-auto" width="20" height="19" aria-hidden="true">
                    <use xlink:href="/icons/sprite.svg#quote"></use>
                </svg>
                <p class="my-16 text-sm leading-sm fvs-rg text-grey">I was really impressed with the quality of the printing and framing. It looks great on our kitchen wall!</p>
                <cite class="text-xs leading-xs fvs-md not-italic">Gemma L</cite>
            </blockquote>
        </li>

        <li class="min-w-full scroll-snap-center px-16 md:px-0">
            <blockquote>
                <svg class="mx-auto md:min-w-1.5 md:h-auto" width="20" height="19" aria-hidden="true">
                    <use xlink:href="/icons/sprite.svg#quote"></use>
                </svg>
                <p class="my-16 text-sm leading-sm fvs-rg text-grey">What amazing customer service you have, backed up by a truly great product. I just wanted to say thank you for being such a pleasure to deal with.</p>
                <cite class="text-xs leading-xs fvs-md not-italic">Cameron</cite>
            </blockquote>
        </li>
    </ul>

    <div class="inline-flex justify-between items-center mt-16 md:hidden" aria-hidden="true">
        <svg class="mr-8" width="19" height="25" fill="var(--color-tertiary)">
            <use xlink:href="/icons/sprite.svg#touch"></use>
        </svg>

        <span class="inline-flex justify-between items-baseline text-primary">
            Swipe for more

            <svg class="ml-8" width="18" height="12" fill="currentColor">
                <use xlink:href="/icons/sprite.svg#arrow"></use>
            </svg>
        </span>
    </div>
</section>
