{% set regex = r/Map|Wedding/ %}
{% set productType = product.productType %}

{% if regex.test(productType) %}
    <section class="container mx-auto my-32 px-16 md:my-56 lg:my-80" aria-labelledby="related-items">
        <hr class="mt-0 mb-32 md:mb-48">

        <h2 class="mb-48 text-md leading-md fvs-rg tracking-3 uppercase text-grey-neutral text-center" id="related-items">Related items</h2>

        <ul class="grid grid-cols-2 gap-24 md:grid-cols-3 md:gap-32">
        {% for relatedProduct in products %}
            {% set rp = relatedProduct %}
            {% set rpType = rp.productType %}

            {% if productType === rpType and rp.title !== product.title %}
                <li class="relative group">
                    {% picture
                        rp.mainImage,
                        '300, 400',
                        '400px',
                        null,
                        rp.mainImageAlt,
                        'ratio-1-1 relative block bg-grey-fade overflow-hidden mb-8 md:mb-16',
                        'absolute w-full h-full top-0 left-0 object-cover transition-transform duration-500 ease-in-out hov:group-hover:scale-110'
                    %}

                    <a class="inline bg-gradient-to-l from-grey to-grey bg-link bg-no-repeat text-xs leading-xs fvs-md text-grey tracking-1 transition-background-size duration-300 ease-linear before:absolute before:inset-0 focus:bg-link-full hov:hover:bg-link-full" href="/products/{{rp.slug}}">{{rp.title}}</a>

                    {% if rp.minPrice === rp.maxPrice %}
                        <span class="text-xs leading-xs fvs-md text-grey block mt-8">{{rp.minPrice}}</span>
                    {% else %}
                        <span class="text-xs leading-xs fvs-md text-grey block mt-8">{{rp.minPrice}} - {{rp.maxPrice}}</span>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </section>
{% endif %}
