---
title: 'Blog'
description: 'Welcome to our blog where you can read all the latest news about luna Creates'
heroTitle: 'Our Blog'
heroImage: 'https://cdn.shopify.com/s/files/1/1931/6299/files/homepage.jpg'
layout: _layouts/blog
sitemap:
  changefreq: daily
  priority: 0.8
---

{% set postListItems = collections.postFeed %}

<ol class="grid grid-cols-2 gap-24 md:grid-cols-3 md:gap-32">

{% for item in postListItems %}
    {% set title = item.data.title %}
    {% set date = item.data.publish_date %}
    {% set thumbnail = item.data.thumbnail %}
    {% set thumbnailWebP = thumbnail.split(r/(jpg|png)/g)[0] + 'webp' %}
    {% set isDraft = item.data.is_draft %}

    {% if not isDraft %}
    <li>
        <article class="relative flex flex-col group">
            {% picture
                thumbnail,
                '300, 350',
                '350px',
                null,
                null,
                'ratio-1-1 relative block bg-grey-fade overflow-hidden',
                'absolute w-full h-full top-0 left-0 object-cover transition-transform duration-500 ease-in-out hov:group-hover:scale-110'
            %}

            <h2 class="text-sm leading-sm my-8 md:mt-16">
                <a class="inline bg-gradient-to-l from-grey to-grey bg-link bg-no-repeat text-xs leading-xs fvs-md text-grey tracking-1 transition-background-size duration-300 ease-linear before:absolute before:inset-0  before:z-10 focus:bg-link-full hov:hover:bg-link-full" href="{{item.url}}">{{title}}</a>
            </h2>

            <time class="text-xs leading-xs fvs-sb text-grey" datetime="{{date}}">{{date | readableDate }}</time>

        </article>
    </li>
    {% endif %}

{% endfor %}
</ol>
