---
title: '404'
home: false
about: false
permalink: 404.html
layout: _layouts/404
eleventyExcludeFromCollections: true
sitemap:
  changefreq: monthly
  priority: 0.8
---

<main>
    <h1>404 page</h1>
</main>
