---
pagination:
    data: categories
    size: 1
    alias: category
    addAllPagesToCollections: true
renderData:
  title: "{{category.title | safe}}"
  description: "{{category.metaDescription | safe}}"
  heroTitle: "{{category.title}}"
  heroImage: "{{category.heroImage}}"
permalink: "collections/{{category.slug}}/"
layout: _layouts/collection
sitemap:
  changefreq: daily
  priority: 1
nofollow: {{category.slug === 'maps'}}
eleventyExcludeFromCollections: {{category.slug === 'maps'}}
---

<ul class="container mx-auto grid grid-cols-2 gap-24 my-32 px-16 md:grid-cols-3 md:gap-32 md:my-56 lg:my-80">
    {% for product in category.products %}
        <li class="relative group">
            {% picture
                product.mainImage,
                '300, 400',
                '400px',
                null,
                product.mainImageAlt,
                'ratio-1-1 relative block bg-grey-fade overflow-hidden mb-8 md:mb-16',
                'absolute w-full h-full top-0 left-0 object-cover transition-transform duration-500 ease-in-out hov:group-hover:scale-110'
            %}

            <a class="inline bg-gradient-to-l from-grey to-grey bg-link bg-no-repeat text-xs leading-xs fvs-md text-grey tracking-1 transition-background-size duration-300 ease-linear before:absolute before:inset-0 focus:bg-link-full hov:hover:bg-link-full" href="{{product.slug}}">{{product.title}}</a>

            {% if product.minPrice === product.maxPrice %}
                <span class="text-xs leading-xs fvs-md text-grey block mt-8">{{product.minPrice}}</span>
            {% else %}
                <span class="text-xs leading-xs fvs-md text-grey block mt-8">{{product.minPrice}} - {{product.maxPrice}}</span>
            {% endif %}
        </li>
    {% endfor %}
</ul>
