---
title: 'Contact us'
description: 'How to contact Luna Creates for any help needed with our products.'
heroTitle: 'Contact us'
heroImage: 'https://cdn.shopify.com/s/files/1/1931/6299/files/Image_3.png'
layout: _layouts/page
sitemap:
  changefreq: monthly
  priority: 1
---

{% include "_partials/components/hero.njk" %}

<main class="my-32 md:my-56 lg:my-80" id="main">
    <div class="container mx-auto px-16" id="contact">
        <div class="rte">
            {{contact.body | safe}}
        </div>

        <form class="mt-40" name="contact" method="post" action="/contact-us/#contact" data-component="contact-form" netlify-honeypot="bot-field" netlify>
            <fieldset class="relative m-0 p-0 border-transparent">
                <legend class="sr-only">Enter your name, email, optional phone number and your message.</legend>

                <div class="md:flex md:flex-wrap md:justify-between">
                    <div class="hidden">
                        <label>Don’t fill this out if you're human:</label>
                        <input type="text" name="bot-field" />
                    </div>

                    <div class="relative mb-24 md:w-1/2">
                        <label class="block text-foreground mb-8 text-sm leading-sm fvs-rg" id="nameLabel" for="name">Name</label>
                        <input class="text-sm leading-sm fvs-rg w-full text-grey py-8 px-16 border-2 border-solid border-grey-border rounded-4 hov:hover:border-secondary" id="name" type="text" inputmode="text" name="name" aria-required="true" aria-labelledby="nameLabel" aria-describedby="nameDescribe" pattern="^[a-zA-Z \-']+$" required data-input>
                        <small class="block absolute text-xs leading-xs fvs-md text-danger top-0 right-0 opacity-0" id="nameDescribe" data-validation>Your name is required</small>
                    </div>

                    <div class="relative mb-24 md:w-1/2 md:pl-32">
                        <label class="block text-foreground mb-8 text-sm leading-sm fvs-rg" id="emailLabel" for="email">Email</label>
                        <input class="text-sm leading-sm fvs-rg w-full text-grey py-8 px-16 border-2 border-solid border-grey-border rounded-4 hov:hover:border-secondary" id="email" type="text" inputmode="email" name="email" aria-required="true" aria-labelledby="emailLabel" aria-describedby="emailDescribe" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required data-input>
                        <small class="block absolute text-xs leading-xs fvs-md text-danger top-0 right-0 opacity-0" id="emailDescribe" data-validation>Please enter a valid email address</small>
                    </div>

                    <div class="relative mb-24 md:w-full">
                        <label class="block text-foreground mb-8 text-sm leading-sm fvs-rg" id="phoneLabel" for="phone">Phone Number (optional)</label>
                        <input class="text-sm leading-sm fvs-rg w-full text-grey py-8 px-16 border-2 border-solid border-grey-border rounded-4 hov:hover:border-secondary" id="phone" type="text" inputmode="tel" name="phone" aria-labelledby="phoneLabel" aria-describedby="phoneDescribe" pattern="[0-9\-]*">
                    </div>

                    <div class="relative mb-24 md:w-full">
                        <label class="block text-foreground mb-8 text-sm leading-sm fvs-rg" id="messageLabel" for="message">Message</label>
                        <textarea class="text-sm leading-sm fvs-rg w-full text-grey py-8 px-16 border-2 border-solid border-grey-border rounded-4 hov:hover:border-secondary" id="message" name="message" name="message" rows="6" cols="80" aria-required="true" aria-labelledby="messageLabel" aria-describedby="messageDescribe" required data-textarea></textarea>
                        <small class="block absolute text-xs leading-xs fvs-md text-danger top-0 right-0 opacity-0" id="messageDescribe" data-validation>Please enter your message</small>
                    </div>
                    <button class="bg-secondary text-foreground text-xs leading-xs fvs-md py-16 px-24 rounded-5 uppercase tracking-1 outline-transparent focus:outline-primary hov:hover:bg-hover-secondary md:px-32" type="submit" name="button" data-submit-button>Submit form</button>
                </div>

                <span class="bg-danger-light border-2 border-solid border-danger hidden mt-24 text-sm leading-sm fvs-sm py-8 px-16" data-form-error>Oops. There was an error. Please submit the form again.</span>
                <span class="bg-success-light border-2 border-solid border-success hidden mt-24 text-sm leading-sm fvs-sm py-8 px-16" data-form-success>Hooray. Your message has been successfully sent.</span>
            </fieldset>
        </form>
    </div>
</main>
