---
title: 'Frequently asked questions'
description: 'Read our most common questions about our products, delivery and installation'
heroTitle: 'Frequently asked questions'
heroImage: 'https://cdn.shopify.com/s/files/1/1931/6299/files/Grey_banner.jpg'
layout: _layouts/page
sitemap:
  changefreq: monthly
  priority: 0.8
---

{% set heroTitle = 'Frequently asked questions' %}
{% set heroImage = 'https://cdn.shopify.com/s/files/1/1931/6299/files/Grey_banner.jpg' %}

{% include "_partials/components/hero.njk" %}

<main class="my-32 md:my-56 lg:my-80" id="main">
    <section class="container mx-auto px-16" aria-labelledby="faq-title">
       <h2 class="text-md leading-md fvs-md mt-0 mb-24 text-grey-neutral uppercase" id="faq-title">Personalising your World Travel Pin Map</h2>

        <ol class="mb-32 md:mb-40" data-component="faqs">
            <li class="bg-background border-t-1 border-solid border-grey-light">
                <h3 class="text-sm leading-sm fvs-md my-8 text-primary" data-accordion-heading="map-title">Can I have just a title on my map?</h3>

                <div class="mb-16" id="map-title" data-accordion-panel>
                    <p class="text-xs leading-xs text-grey fvs-rg mt-0 mb-0">Yes we have an option on the product page to just select a title no key on your map.</p>
                </div>
            </li>

            <li class="bg-background border-t-1 border-solid border-grey-light">
                <h3 class="text-sm leading-sm fvs-md my-8 text-primary" data-accordion-heading="additional-pins">Can I buy additional pins for my map?</h3>

                <div class="mb-16" id="additional-pins" data-accordion-panel>
                    <p class="text-xs leading-xs text-grey fvs-rg mt-0 mb-0">Yes if you need additional pins you can purchase them on <a href="/products/additional-pins/" class="underline text-foreground fvs-md">our website</a>.</p>
                </div>
            </li>

            <li class="bg-background border-t-1 border-solid border-grey-light">
                <h3 class="text-sm leading-sm fvs-md my-8 text-primary" data-accordion-heading="map-no-frame">If I buy a map without a frame will the edges be smooth?</h3>

                <div class="mb-16" id="map-no-frame" data-accordion-panel>
                    <p class="text-xs leading-xs text-grey fvs-rg mt-0 mb-0">Our printers make sure the high quality foam board has perfect edges so that it can be displayed without a frame.</p>
                </div>
            </li>

            <li class="bg-background border-t-1 border-solid border-grey-light">
                <h3 class="text-sm leading-sm fvs-md my-8 text-primary" data-accordion-heading="map-logo">Can I add a company brand logo to my map?</h3>

                <div class="mb-16" id="map-logo" data-accordion-panel>
                    <p class="text-xs leading-xs text-grey fvs-rg mt-0 mb-0">Yes we would require a vector file or large png file. Email the logo to: <a href="mailto:hello@lunacreates.co.uk" class="underline text-foreground fvs-md">hello@lunacreates.co.uk</a></p>
                </div>
            </li>

            <li class="bg-background border-t-1 border-b-1 border-solid border-grey-light">
                <h3 class="text-sm leading-sm fvs-md my-8 text-primary" data-accordion-heading="map-customisation">Do you offer further customisation options?</h3>

                <div class="mb-16" id="map-customisation" data-accordion-panel>
                    <p class="text-xs leading-xs text-grey fvs-rg mt-0 mb-0">Yes we do, email us at <a href="mailto:hello@lunacreates.co.uk" class="underline text-foreground fvs-md">hello@lunacreates.co.uk</a> to discuss your requirements further.</p>
                </div>
            </li>
        </ol>

        <h2 class="text-md leading-md fvs-md mt-0 mb-24 text-grey-neutral uppercase">Delivery</h2>

        <ol class="mb-32 md:mb-40" data-component="faqs">
            <li class="bg-background border-t-1 border-solid border-grey-light">
                <h3 class="text-sm leading-sm fvs-md my-8 text-primary" data-accordion-heading="delivery-duration">How long does delivery take?</h3>

                <div class="mb-16" id="delivery-duration" data-accordion-panel>
                    <p class="text-xs leading-xs text-grey fvs-rg mt-0 mb-0">We aim to send all orders to UK mainland destinations 10-15 business days after order date. We will notify you by email if there is any change to this.</p>
                </div>
            </li>

            <li class="bg-background border-t-1 border-b-1 border-solid border-grey-light">
                <h3 class="text-sm leading-sm fvs-md my-8 text-primary" data-accordion-heading="track-order">Can I track my order?</h3>

                <div class="mb-16" id="track-order" data-accordion-panel>
                    <p class="text-xs leading-xs text-grey fvs-rg mt-0 mb-0">For all deliveries we use a 3rd party courier service (DPD) to be as fast and cost effective as possible, and all of our deliveries are insured. You will be contacted by the courier, who will let you know when your order will arrive and ask if you have any special delivery requirements.</p>
                </div>
            </li>
        </ol>

        <h2 class="text-md leading-md fvs-md mt-0 mb-24 text-grey-neutral uppercase">Installation</h2>

        <ol class="mb-32 md:mb-40" data-component="faqs">
            <li class="bg-background border-t-1 border-b-1 border-solid border-grey-light">
                <h3 class="text-sm leading-sm fvs-md my-8 text-primary" data-accordion-heading="map-hang">How do I hang my World Travel Pin Map?</h3>

                <div class="mb-16" id="map-hang" data-accordion-panel>
                    <p class="text-xs leading-xs text-grey fvs-rg mt-0 mb-0">Each map comes with a keyhole loop mounted on the back of the frame.</p>
                </div>
            </li>
        </ol>

        <h2 class="text-md leading-md fvs-md mt-0 mb-24 text-grey-neutral uppercase">Design process</h2>

        <ol class="mb-32 md:mb-40" data-component="faqs">
            <li class="bg-background border-t-1 border-solid border-grey-light">
                <h3 class="text-sm leading-sm fvs-md my-8 text-primary" data-accordion-heading="view-map">Can I view my personalised map key?</h3>

                <div class="mb-16" id="view-map" data-accordion-panel>
                    <p class="text-xs leading-xs text-grey fvs-rg mt-0 mb-0">You can design your personalised map key on our website and instantly view your creation to check you are happy before you go to checkout.</p>
                </div>
            </li>

            <li class="bg-background border-t-1 border-b-1 border-solid border-grey-light">
                <h3 class="text-sm leading-sm fvs-md my-8 text-primary" data-accordion-heading="other-view-map">Can I see examples of personalised maps the other customers have created?</h3>

                <div class="mb-16" id="other-view-map" data-accordion-panel>
                    <p class="text-xs leading-xs text-grey fvs-rg mt-0 mb-16">Our customers have created some truly unique designs for their personalised map keys.</p>

                    <p class="text-xs leading-xs text-grey fvs-rg mt-0">We have some examples included in the pictures on the product pages. To view a more extensive collection of designs refer to our Instagram page : @lunacreatesdesign - section called map keys.</p>
                </div>
            </li>
        </ol>
    </section>
</main>
