---
title: 'Privacy policy'
description: 'Find out more about what information we collect when visitors come to our website.'
layout: _layouts/page
sitemap:
  changefreq: monthly
  priority: 0.8
---

<main class="my-32 md:my-56 lg:my-80" id="main">
    <div class="container mx-auto px-16">
        <div class="rte">
            {{privacy.body | safe}}
        </div>
    </div>
</main>
