---
title: 'Returns'
description: 'Find out more about the Luna Creates return policy'
layout: _layouts/page
sitemap:
  changefreq: monthly
  priority: 0.8
---

<main class="my-32 md:my-56 lg:my-80" id="main">
    <div class="container mx-auto px-16">
        <h1 class="text-xl leading-xl fvs-md text-center text-grey-neutral mt-0 mb-32 md:mb-72">{{returns.title}}</h1>

        <div class="rte">
            {{returns.body | safe}}
        </div>
    </div>
</main>
